<div class = "container-fluid justify-content-center mt-4">
    <div>
        <h1>COCINA</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <form #form = "ngForm" >
                <div class="mb-3">
                    <h4><b>Pedidos Pendientes</b></h4>
                    <div class = "container-flex">
                        @for(pedido of listaPedidos; track pedido){
                            @if(pedido.state == estados.PENDIENTE){   
                                <div class = "d-flex mt-4">
                                    <h4>* ({{pedido.number}}) - {{pedido.description}} </h4>
                                    <button type="button" class="btn btn-primary mx-4" (click)="cocinarPedido(pedido)">Cocinar</button>
                                </div>        
                            }
                        }                     
                    </div>
                    <h4 class="mt-4"><b>Pedidos en Proceso</b></h4>
                    <div class = "container-flex">
                        @for(pedido of listaPedidos; track pedido){
                            @if(pedido.state == estados.COCINANDO){   
                                <div class = "d-flex mt-4">
                                    <h4>* ({{pedido.number}}) - {{pedido.description}} </h4>
                                    <button type="button" class="btn btn-primary mx-4" (click)="terminarPedido(pedido)">Terminar</button>
                                </div>        
                            }
                        }                     
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


